<h1>
    HOME
</h1>
<ul>
    {{#each blogs}}
        <li><a href="/blog/{{num}}">{{title}}</a></li>
    {{/each}}
</ul>
<a href="/blog-new">Agregar nuevo Blog</a>

<ul>
    <li>
        <img src="logo.png">
    </li>
</ul>